<div class="container">
  <div class="form-wrapper">
    <mat-card>
      <mat-card-content>
        <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="16px">

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                פרטים אישיים
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
              <mat-label>תעודת זהות</mat-label>
              <input matInput type="text" formControlName="identity" required minlength="9">

              <mat-error *ngIf="addForm.get('identity')?.hasError('required')">שדה זה חובה</mat-error>
              <mat-error *ngIf="addForm.get('identity')?.hasError('invalidLength')">יש להכניס את 9 הספרות של התעודת
                זהות</mat-error>


            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>שם פרטי</mat-label>
              <input matInput type="text" formControlName="firstName" required minlength="3">

              <mat-error *ngIf="addForm.get('firstName')?.hasError('required')">שדה זה חובה</mat-error>
              <mat-error *ngIf="addForm.get('firstName')?.hasError('minlength')">שם פרטי חייב להיות 3 תווים
                לפחות</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>שם משפחה</mat-label>
              <input matInput type="text" formControlName="lastName" required minlength="3">

              <mat-error *ngIf="addForm.get('lastName')?.hasError('required')">שדה זה חובה</mat-error>
              <mat-error *ngIf="addForm.get('lastName')?.hasError('minlength')">שם משפחה חייב להיות 3 תווים
                לפחות</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>תאריך לידה</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="addForm.get('dateOfBirth')?.hasError('worngBirthDate')">לא יתכן תאריך לידה שעדיין
                לא</mat-error>
              <mat-error *ngIf="addForm.get('dateOfBirth')?.hasError('tooYoung')">אין זה חוקי להעסיק עובד מתחת לגיל
                16</mat-error>

            </mat-form-field>



            <mat-radio-group formControlName="maleOrFemale" aria-label="בחר מין">
              <mat-radio-button value="true"
                [checked]="addForm.value.managerialPosition === 'true'">זכר</mat-radio-button>
              <mat-radio-button value="false"
                [checked]="addForm.value.managerialPosition === 'false'">נקבה</mat-radio-button>
            </mat-radio-group>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                פרטי תעסוקה
              </mat-panel-title>
            </mat-expansion-panel-header>


            <mat-form-field appearance="fill">
              <mat-label>תאריך תחילת עבודה</mat-label>
              <input matInput [matDatepicker]="pickerWorkDate" formControlName="startOfWorkDate" required>
              <mat-datepicker-toggle matSuffix [for]="pickerWorkDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerWorkDate></mat-datepicker>

              <mat-error *ngIf="addForm.get('startOfWorkDate')?.hasError('lessThan16Age')">
                אין זה חוקי להעסיק עובד מתחת לגיל 16
              </mat-error>
              <mat-error *ngIf="addForm.get('startOfWorkDate')?.hasError('tooEarlyToWork')">
                התאריך שגוי | בדוק את תאריך הלידה
              </mat-error>

            </mat-form-field>


            <div formArrayName="roleEmployees">
              <div *ngFor="let roleGroup of roleEmployeesFormArray.controls; let i=index">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      תפקיד {{i + 1}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div [formGroupName]="i">



                    <mat-form-field appearance="fill">
                      <mat-label>שם תפקיד</mat-label>
                      <mat-select formControlName="roleNameId" required>
                        <mat-option *ngFor="let position of filteredPositions(i)" [value]="position.id">{{
                          position.roleName }}</mat-option>
                      </mat-select>
                    </mat-form-field>


                    <mat-radio-group formControlName="managerialPosition" aria-label="בחר סוג תפקיד">
                      <mat-radio-button value="true" [checked]="roleGroup.value.managerialPosition === 'true'">תפקיד
                        ניהולי</mat-radio-button>
                      <mat-radio-button value="false" [checked]="roleGroup.value.managerialPosition === 'false'">תפקיד
                        לא ניהולי</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field appearance="fill">
                      <mat-label>תאריך תחילת עבודה בתפקיד</mat-label>
                      <input matInput [matDatepicker]="pickerPositionDate" formControlName="dateOfStartingWork"
                        required>
                      <mat-datepicker-toggle matSuffix [for]="pickerPositionDate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerPositionDate></mat-datepicker>
                      <mat-error *ngIf="roleGroup.get('dateOfStartingWork')?.hasError('beforStartTheWork')">
                        התאריך לא יכול להיות לפני תאריך התחלת העבודה
                      </mat-error>
                    </mat-form-field>

                    <button mat-icon-button color="warn" (click)="removeRole(i)">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>
                </mat-expansion-panel>

               
              </div>
            </div>
            <button mat-raised-button color="primary" (click)="addRole()">הוסף תפקיד</button>
          </mat-expansion-panel>






          <button mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid">שמור</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>