.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .form-wrapper {
    width: 500px;
    padding: 20px;
  }
  
  mat-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 16px;
  }
  .color{
    background-color: black;
    color:  white;
  }
  .color1{
    background-color: #e5b813;
  }
  mat-expansion-panel {
    box-sizing: border-box;
    overflow: hidden;
  }
  .width{
    width: 100%;
  }
 
  // ::ng-deep .mat-radio-button.mat-primary .mat-radio-outer-circle {
  //   background-color: #e5b813;
  // }
  
  // ::ng-deep .mat-radio-button.mat-primary.mat-checked .mat-radio-inner-circle {
  //   background-color: #e5b813; 
  // }
  