footer {
    height: 30px; // גובה רגל העמוד
    background-color: #333; // צבע רקע של רגל העמוד
    color: #ccc; // צבע טקסט ברגל העמוד
    text-align: center; // יישור הטקסט למרכז
    width: 100%; // רגל העמוד תימפר על כל הרוחב של העמוד
    // position: fixed; // הפיקוד הוסר מהמסמך
    bottom: 0; // הרגל שוקע לתחתית העמוד
    left: 0; // הרגל מתחיל מהשמאל
    font-size: 10px; // גודל הטקסט ברגל העמוד
    z-index: 100;
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  
  
    p {
      line-height: 30px; // יישור אנכי של הטקסט ברגל העמוד
      margin: 0; // מרווחים אפסיים לטקסט ברגל העמוד
    }
  
    a {
      color: #666; // צבע קישור רגל העמוד
      text-decoration: underline; // קו תחתון לקישור
    }
    :host {
      display: block;
      padding-bottom: 15vh;
  }
  }
// :host {
//   display: block;
//   padding-bottom: 15vh; /* יצירת מרווח בתחתית העמוד */
// }

// .mat-card {
//   height: calc(100vh - 30px); /* גובה דינמי עבור המסך, עם מיקום יחסי */
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between; /* יישור כלפי החלק העליון של ה-<mat-card> */
// }

// .form-container {
//   flex-grow: 1; /* ממלא את השטח הפנוי בתוך ה-<mat-card> */
// }

// .footer {
//   width: 100%;
// }

  