<!-- 

  <form *ngIf="AddPositionForm" [formGroup]="AddPositionForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Position Name</mat-label>
      <input matInput formControlName="positionName">
    </mat-form-field>
  
    <button mat-raised-button  type="submit">Submit</button>
  </form> -->

  <mat-card>
    <form *ngIf="AddPositionForm" [formGroup]="AddPositionForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Position Name</mat-label>
        <input matInput formControlName="positionName">
      </mat-form-field>
    

      <button mat-raised-button color="primary" type="submit">Add Position</button>
    </form>
  </mat-card>
  