:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .not-found-container {
    text-align: center;
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e5b813; /* Replace with your color choice */

  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  a {
    color: #3f51b5;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #28377c;
  }
  
  