<!-- <h1 mat-dialog-title>Choose Action</h1>
<div mat-dialog-content>
  <p>Where do you want to go?</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="'employeeList'">Employee List</button>
  <button mat-button [mat-dialog-close]="'addPosition'">Add Position</button>
</div> -->
<!-- dialog-component.component.html -->

<h1 mat-dialog-title class="dialog-title">Choose Action</h1>
<div mat-dialog-content class="dialog-content">
  <p>Where do you want to go?</p>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="'employeeList'" class="action-button">Employee List</button>
  <button mat-button [mat-dialog-close]="'addPosition'" class="action-button">Add Position</button>
</div>
